body {
  overflow: hidden;
  background-color: rgb(23, 69, 121);
}

.general {
  background: url("../img/minius.jpg") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #0d0d0d;
  width: 450px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.logo-resilia {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  
}

.logo-resilia img {
  width: 50%;
}

.form {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaure-email {
  display: flex;
  flex-direction: column;
}

label {
  color: #35bbf2;
  font-size: 12px;
  margin-top: 30px;
  position: absolute;
  pointer-events: none;
  transition: all.3s ease;
}

.div-email input:focus ~ label,
.div-email input:valid ~ label {
  font-size: 9px;
  transform: translateY(-22px);
}

.div-email input {
  background: none;
  color: #f5f1f1;
  font-size: 20px;
  width: 98%;
  height: 35px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  outline: none;
}

.btn-submit {
  background: #686666;
  height: 60px;
  border-radius: 7px;
  border: none;
  color: #b4b3b3;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s linear;
  width: 70%;
  
}

.btn-submit:hover {
  background: #ffd000;
  transition: 0.5s ease;
  color: #0d0d0d;
}

.bi-eye {
  position: absolute;
  color: #ffd000;
  margin-left: 290px;
  margin-top: -60px;
  cursor: pointer;
}

.div-email {
  display: flex;
  justify-content: left;
  align-items: center;
}

.msg-err{

  color: red;
  justify-content: center;

}

.div-sucess{
  display: none;
  color: white;
  
}