body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #131212;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.general {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 94%;
  height: 100%;
}

/*******************Header**************/
.user {
  font-size: 1.5rem;
  color: #ffd000;
  margin-right: 3%;
}

.top-bar {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgb(22, 21, 21)
  );
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  width: 35%;
  height: 35%;
  margin-left: 3%;
}

.links > a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 50px;
}

/***********Container search movie*****************/
.search {
  border-bottom: 1px solid white;
  width: 98%;
  padding-bottom: 5px;
  margin-top: 120px;
  display: flex;
  align-items: center;
}

.form .search-movie {
  background: none;
  border: none;
  outline: none;
  height: 30px;
  margin-left: 10px;
  color: white;
  font-size: 25px;
}

.bi-search {
  color: white;
  font-size: 25px;
}

/************Movie API*************/
.container-movie {
  background: #07070750;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.movie {
  width: 180px;
  height: 300px;
  color: aliceblue;
  text-align: center;
  transition: all 0.7s ease;
  transform-style: preserve-3d;
  margin-left: 40px;
  margin-bottom: 50px;
}

.movie img {
  width: 100%;
  height: 100%;
}

.movie:hover {
  transform: rotateY(180deg);
}

.movie-info,
.poster {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: left;
}

.poster {
  background-color: transparent;
  color: black;
}

.poster img {
  border-radius: 10px;
}

.sinops {
  position: absolute;
}

.poster img {
  height: 100%;
  max-width: 100%;
}

.movie-info {
  background-color: #080505;
  border-radius: 10px;
  color: white;
  position: absolute;
  transform: rotateY(180deg);
}

.sinops {
  flex-wrap: nowrap;
  margin-top: 10px;
}

.evaluation {
  background-color: green;
  border-radius: 50%;
  padding: 6px;
}
