body {
  overflow: hidden;
  background: url("../img/background.jpeg");
}

h2 {
  text-align: center;
}

input {
  outline: none;
  font-size: 18px;
  color: white;
}

.general {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.container {
  width: 550px;
  height: 600px;
  background: rgba(10, 10, 10);
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 0.2vh 0px rgba(216, 209, 202, 0.5);
}

/****** Title *********/
.title-sign-up {
  width: 80%;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

/*********** Pages **************/
.page-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.payment-page,
.address-page,
.success-page {
  display: none;
  align-items: center;
}

.success {
  width: 95%;
  height: 300px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success h2 {
  font-size: 35px;
}

.success button {
  width: 40%;
}

/************* Inputs ****************/
.div-input {
  width: 75%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}

.div-input input {
  background: none;
  height: 35px;
  border: none;
}

/********* Address page **************/

/*********Progress bar********/
/* .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progress-bar .step1 {
    width: 30px;
    display: flex;
    justify-content: center;
}

.progress-bar .step1:before {
    position:absolute;
    content: ' ';
    height: 90px;
    width: 3px;
    background: white;
}

.bi-square-fill {
    font-size: 25px;
} */

/********** Button************/
button {
  background: #686666;
  color: #b4b3b3;
  font-weight: bold;
  font-size: 24px;
  height: 50px;
  width: 150px;
  margin-top: 30px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s linear;
}

button:hover {
  background: #ffd000;
  color: #0d0d0d;
  transition: 0.5s ease;
}

/*** Links ***/
a {
  color: #b4b3b3;
  text-decoration: none;
}

a:hover {
  color: #0d0d0d;
}

label {
  color: #35bbf2;
  font-size: 17px;
  position: absolute;
  margin-top: 15px;
  transition: all.3s ease;
  pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 12px;
  transform: translateY(-16px);
}

/*****Logo*****/
.logo {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.logo img {
  width: 150px;
  margin-top: -40px;
}
