:root {
  --text-color: #35bcf2cb;
  --color-yellow: #ffd000;
  --border-color: #b4b3b3;
}

body {
  background-image: url("https://images.unsplash.com/photo-1515041219749-89347f83291a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.general {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #0d0d0d;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.login-form {
  width: 80%;
}

/************Logo*************/
.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  color:var(--color-yellow);
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 58px;
  font-size: 30px;
  width: 45%;
}

/***********Inputs***********/
.email-input,
.password-input {
  background: none;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 34px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
}
 
.email-input{
  margin-top: 20px;
}

label {
  color: var(--text-color);
  font-size: 15px;
  margin-top: -19px;
  position: absolute;
  transition: all.3s ease;
  pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 12px;
  transform: translateY(-18px);
}

/*********Buttons**************/
.container-enter-button {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0d0d0d;
}

/***Enter-button***/
.enter-button{
  background-color: #8c8c8c;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  transition: 0.2s linear;
}

.enter-button a{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.enter-button:hover {
  background: var(--color-yellow);
  cursor: pointer;
  transition: 0.5s ease;
}

/***Techtalents button***/
.container-techtalents {
  display: flex;
  justify-content: center;
}

.techtalents-button {
  background: none;
  color:var(--color-yellow);
  border-color: var(--color-yellow);
  border-style: solid;
  border-radius: 12px;
  width: 80%;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

/**********Links***************/
.recover-password {
  margin-top: 20px;
}

.recover-password a {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/***Registration link***/
.container-registration {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.registration-msg {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
}

.container-registration a {
  background: none;
  color: var(--text-color);
  font-weight: bold;
  height: 15px;
  border: none;
  text-decoration: none;
}

/*******Icon eye********/
.bi-eye {
  color:var(--color-yellow);
  margin-left: 307px;
  margin-top: -19px;
  position: absolute;
  cursor: pointer;
}
